<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="AWS_REGION">${env:AWS_REGION:-us-east-1}</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <Lambda name="Lambda">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Lambda>
        
        <Async name="AsyncLambda" bufferSize="1000">
            <AppenderRef ref="Lambda"/>
        </Async>
    </Appenders>
    
    <Loggers>
        <Logger name="com.sourceplot" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncLambda"/>
        </Logger>
        
        <Logger name="software.amazon.awssdk" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncLambda"/>
        </Logger>
        
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncLambda"/>
        </Root>
    </Loggers>
</Configuration> 